CREATE TABLE `tb_technology_parameter` (
  `id` varchar(64) NOT NULL,
  `xxh` varchar(64) DEFAULT NULL COMMENT '箱型号',
  `cpbh` varchar(32) DEFAULT NULL COMMENT '产品编号',
  `dm` varchar(8) DEFAULT NULL COMMENT '代码',
  `cbs1` varchar(4) DEFAULT NULL COMMENT '串并数1',
  `cbs2` varchar(4) DEFAULT NULL COMMENT '串并数2',
  `cbs3` int(11) DEFAULT NULL COMMENT '串并数3',
  `cbs4` varchar(4) DEFAULT NULL COMMENT '串并数4',
  `dtdxbcdl` float DEFAULT NULL COMMENT '单体电芯标称电量',
  `dtdxsjdl` float DEFAULT NULL COMMENT '单体电芯实际电量',
  `dtdxgzdy` float DEFAULT NULL COMMENT '单体电芯工作电压',
  `dxdl` float DEFAULT NULL COMMENT '典型电量',
  `sjdl` float DEFAULT NULL COMMENT '实际电量',
  `zlinptc` float DEFAULT NULL COMMENT '质量KG(±5%)含PTC',
  `zlexptc` float DEFAULT NULL COMMENT '质量KG(±5%)不含PTC',
  `dxnlmdinptc` float DEFAULT NULL COMMENT '典型能量密度wh/kg含PTC',
  `dxnlmdexptc` float DEFAULT NULL COMMENT '典型能量密度wh/kg不含PTC',
  `sjnlmdinptc` float DEFAULT NULL COMMENT '实际能量密度wh/kg含PTC',
  `sjnlmdexptc` float DEFAULT NULL COMMENT '实际能量密度wh/kg不含PTC',
  `xtrl` float DEFAULT NULL COMMENT '箱体容量AH',
  `xtdy` float DEFAULT NULL COMMENT '箱体电压V',
  `bzxczxl` float DEFAULT NULL COMMENT '标准箱成组效率',
  `bzxczxlexptc` float DEFAULT NULL COMMENT '标准箱成组效率不含PTC',
  `deleteflag` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8;

